<div class="login-wrapper">
  <div class="login-container">
    <div class="welcome-section">
      <h1>Bienvenue!</h1>
      <p>Connectez-vous pour accéder à votre compte et poursuivre votre voyage avec nous.</p>
    </div>
    <div class="login-form-section">
      <h2>Connectez-vous</h2>
      <form form (ngSubmit)="onSubmit($event)" #loginForm="ngForm">
        <div class="input-group">
          <label for="username">Nom d'utilisateur</label>
          <input 
            type="text" 
            id="username" 
            [(ngModel)]="username" 
            name="username" 
            required 
            #usernameInput="ngModel"/>
        </div>
        
        <div class="input-group">
          <label for="password">Mot de passe</label>
          <input 
            type="password" 
            id="password" 
            [(ngModel)]="password" 
            name="password" 
            required 
            #passwordInput="ngModel"/>
        </div>
        
        <button type="submit" class="login-btn" [disabled]="!loginForm.valid">Connectez-vous</button>
        <p class="forgot-password" routerLink="/register">S'inscrire</p>

      </form>
    </div>
  </div>
</div>
